.App {}

/* layout */
.header {
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:280px;
  height:80px; 
  width:100%;
  background-color: #fff;
  z-index: 9;
}
.header .inner {
  padding-left:calc()
}
.header img {
  width: 100%;
}
.header .imgA {
  width:179px;
  height: 16px;
  margin-left: 48px;;
}
.header .imgB {
  width:208px;
  height: 36px;
  margin-right: 48px;
}
.sideBar {
  flex-shrink: 0;
  width:280px;
  background-color: #202844;
  min-height: 100vh;
  height: 100%;
  color: #fff;;
  position: relative;
  z-index: 9;
}
.sideBar::after {
  display: block;
  content: '';
  width: 280px;
  height: 100%;
  background-color: #202844;
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 8;
}
.sideBar img {
  width: 100%;
}
.sideBar .imgD {
  width: 46px;
  height: 46px;
  position: absolute;
  right: -22px;
  top: 18px;
}

.css-1dospef-MuiInputBase-root-MuiInput-root:before,
.css-1dospef-MuiInputBase-root-MuiInput-root:after {
  display: none;
}

.css-70jqto-MuiButtonBase-root-MuiIconButton-root:hover,
.css-1io2xlw-MuiButtonBase-root-MuiButton-root:hover {
  background-color: transparent !important;
  border-color: #202844 !important;
}

.css-kd7p3a-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  padding: 0 !important;  
}


.MuiSelect-icon {
  color: #000 !important;
}


.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #e5e5e5 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #202844 !important;
}

.MuiTableRow-hover td {  
}
